includes:
    - ./vendor/justbetter/laravel-coding-standard/phpstan.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: src/config.php
    level: 7
